<!DOCTYPE html>
<html ng-app="appname">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div ng-controller="appCtrl">
      <h1>{{greeting.text}}</h1>
      <p>Welcome to <%= title %></p>
      <button ng-click="apiCall()">Load Data</button>
      <div ng-if="response">
        <p>data loaded!</p>
        <pre>{{response}}</pre>
      </div>
      <hr/>
      <form ng-submit="formSubmit()">
        <input ng-model="numberInput" type="number"/>
        <button type="submit">Submit</button>
        <pre ng-if="formMessage">{{formMessage}}</pre>
      </form>
    </div>
  </body>
</html>
